.trait-card .champ-cost-1 {
    order: 1;
}

.trait-card .champ-cost-2 {
    order: 2;
}

.trait-card .champ-cost-3 {
    order: 3;
}

.trait-card .champ-cost-4 {
    order: 4;
}

.trait-card .champ-cost-5 {
    order: 5;
}

.trait-card .champ-cost-6 {
    order: 6;
}

/* Traits */
.trait-card {
    background: #1e1e1e;
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    width: 270px;
    min-height: 440px;
    line-height: 1.4;
    flex-direction: column;
}

.trait-card .champ-list li {
    display: flex;
}


.trait-header>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: -15px -15px 15px;

}

.trait-header>div:first-child>span {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    gap: 5px;
}

.trait-header>div:first-child>span img {
    width: 18px;
    filter: sepia(100%) saturate(500%) hue-rotate(0deg);
}

.trait-header>div:last-child {
    display: flex;
    justify-content: space-between;
}

.trait-header>div:last-child>img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid var(--champion-border-color);
    overflow: hidden;
}

/*  */
.traits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

ul.champ-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    min-height: 102px;
}

.champ-list img {
    width: 44px;
    height: 44px;
    border: 2px solid var(--champion-border-color);
    border-radius: 8px;
}

.trait-style img {
    width: 36px;
    height: 36px;
    filter: brightness(0.1) invert(0);
}

.trait-header>div.trait-style {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    color: #1c1c1f;
}

.trait-class .trait-style {
    background: rgb(237, 125, 186);
}

.trait-teamup .trait-style {
    background: #77baff;
}

.trait-origin .trait-style {
    background: #dafda2;
}

.trait img {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.origin-desc {
    font-size: 14px;
    margin: 20px 0;
}

.origin-level ul {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}