#aguments-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.augments-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}

.aug-item {
    padding: 15px;
    gap: 15px;
    font-size: 14px;
    width: 360px;
    background: #1e1e1e;
    border-radius: 10px;

}

.tier-undefined {
    order: 9;
}

.aug-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.aug-icon img {
    width: 60px;
    height: auto;
}

.aug-icon span {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tier-color);
}

.aug-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tooltip .aug-item {
    max-width: 320px;
    width: 100%;
    border: 1px solid var(--tier-color);
}

.augments-list .tier- {
    display: none;
}