.builder-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.builder-section {
    display: flex;
    min-height: 500px;
    gap: 10px;
}

.builder-traits {
    width: 150px;
    border: var(--border-tier-list);
    border-radius: 5px;
}

.builder-chessboard {
    flex: 1;
    border: var(--border-tier-list);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.builder-augments {
    width: 150px;
    border: var(--border-tier-list);
    border-radius: 5px;
}

.builder-champions,
.builder-items {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: var(--border-tier-list);
}

.builder-head {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.builder-filter {
    display: flex;
    gap: 5px;
}

.builder-filter button {
    background: transparent;
    color: #fff;
    border-radius: 999px;
    font-size: 12px;
    padding: 2px 8px;
    font-weight: 700;
}

.builder-search {
    display: flex;
    height: 30px;
    border: 1px solid var(--builder-primary-color);
    border-radius: 999px;
    overflow: hidden;
}

.builder-search input {
    width: 100%;
    background: transparent;
    text-align: center;
    color: #fff;
}

/*  */
.builder-chessboard .row:nth-child(odd) {
    transform: translateX(-2.3vmin);
}

.builder-chessboard .row:nth-child(even) {
    transform: translateX(2.3vmin);
}

.builder-chessboard .hexagon {
    width: 8vmin;
    background: var(--hexagon-background);
}

.builder-chessboard .hexagon.has-champ {
    clip-path: unset;
    background-color: unset;
}

.builder-chessboard .position-comp {
    padding: 24px 5px;
}

.builder-extension {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    width: 100%;
}

.builder-extension button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    font: 700 12px 'Nunito', sans-serif;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
}

.builder-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    justify-items: center;
    gap: 5px;
}

.builder-champions .tier-list {
    width: 50px;
    cursor: pointer;
}

.builder-list .hexagon-tier-champ {
    clip-path: unset;
    border-radius: 50%;
}

.hexagon-tier-champ>span {
    width: 85%;
    height: 85%;
    object-fit: cover;
    background-size: cover;
    margin: auto;
    display: flex;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    border-radius: 50%;
}

.builder-champions .hexagon-title {
    font-size: 9px;
    margin-top: 5px;
    pointer-events: none;
}

.builder-items .item-child>span {
    pointer-events: none;
}

.tier-list:has(.hexagon-tier-champ span.active) {
    filter: drop-shadow(0 0 10px var(--border-color-cost)) drop-shadow(0 0 20px var(--border-color-cost));
    animation: pulse 2s ease-in-out infinite;
}

.hexagon-tier-champ span.active {
    transform: scale(1.1);
}

.builder-items .item-child {
    flex-direction: column;
    width: 50px;
    gap: 10px;
    text-align: center;
    font-size: 9px;
    cursor: pointer;
}

.builder-items .item-child.item-core>img {
    border: 1px solid var(--tier-color);
}

.builder-chessboard .hexagon-champ {
    width: 100%;
    height: 100%;
}

/* Dùng attribute selector để so sánh body và data-category của button */
body[btn-filter="category-1-active"] button[data-category="1"],
body[btn-filter="category-2-active"] button[data-category="2"],
body[btn-filter="category-3-active"] button[data-category="3"],
body[btn-filter="category-4-active"] button[data-category="4"],
body[btn-filter="category-5-active"] button[data-category="5"],
body[btn-filter="category-6-active"] button[data-category="6"],
body[btn-filter="category-7-active"] button[data-category="7"],
body[btn-filter="category-other-active"] button[data-category="other"],
body[btn-filter="category-0-active"] button[data-category="0"] {
    background-color: var(--btn-builder-bg, #16dc4c);
    color: #000;
}

.builder-champions .builder-filter button.active {
    background: var(--btn-builder-bg, #16dc4c);
    color: #000;

}

.builder-list-traits {
    display: flex;
    align-items: center;
    width: 100%;
    grid-column: 1 / -1;
    gap: 10px;
    margin-bottom: 10px;
}

.list-traits-champions {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    justify-items: center;
    gap: 5px;
}
.list-traits-title {
    display: flex;
    flex-direction: column;
    font-size: 9px;
    width: 45px;
}
.list-traits-title span {
    text-align: center;
}

.hexagon.highlight {
    box-shadow: 0 0 8px 2px rgba(255, 255, 0, 0.8); /* Hiệu ứng sáng */
    border: 2px solid yellow; /* Tùy chỉnh */
}

@media (min-width: 768px) {
    .builder-chessboard .position-comp {
        margin-left: 0;
    }
}