.builder-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 -22px;
    position: relative;
    user-select: none;
}

.builder-section {
    display: flex;
    gap: 10px;
    height: 450px;
}

.builder-traits,
.builder-augments {
    width: 180px;
    border: var(--border-tier-list);
    border-radius: 5px;
    position: relative;
}

.builder-chessboard {
    flex: 1;
    border: var(--border-tier-list);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    width: 60%;
}

.builder-chessboard .hexagon.drag-over {
    background: var(--champ-cost-6-background);
    /* border: 2px solid #00ff00; */
}

.builder-chessboard .hexagon .hexagon-name {
    font-size: 1.6vmin;
    display: var(--an-name-chessboard, none);
}

.active-name-chessboard .hexagon .hexagon-name {
    display: flex;
}

.drag-preview .star-champ,
.builder-chessboard .star-champ {
    font-size: 9px;
}

.builder-champions,
.builder-items {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: var(--border-tier-list);
}

.builder-head {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.builder-filter {
    display: flex;
    gap: 10px;
}

.builder-filter button {
    background: transparent;
    color: #fff;
    font: 700 10px 'Nunito', sans-serif;
    text-transform: uppercase;
    transition: transform 0.3s ease;
}

.builder-search {
    display: flex;
    height: 30px;
    background: #1d1d1d;
    border-radius: 5px;
    overflow: hidden;
    max-width: 50%;
}

.builder-search input {
    width: 100%;
    background: transparent;
    text-align: center;
    color: #fff;
}

/*  */
.builder-chessboard .row:nth-child(odd) {
    transform: translateX(-2.3vmin);
}

.builder-chessboard .row:nth-child(even) {
    transform: translateX(2.3vmin);
}

.builder-chessboard .hexagon {
    /* width: 8vmin; */
    background: var(--hexagon-background);
}

.builder-chessboard .hexagon.has-champ {
    clip-path: unset;
    background-color: unset;
    filter: drop-shadow(0px 0px 10px #b0e5ff23);
}

.builder-chessboard .position-comp {
    padding: 5px;
    width: 100%;
}

.builder-extension {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.builder-extension button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    font: 700 12px 'Nunito', sans-serif;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
}

.builder-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    justify-items: center;
    gap: 5px;
    overflow-y: auto;
}

.builder-champions .tier-list {
    width: 50px;
    cursor: pointer;
}

.builder-list .hexagon-tier-champ,
.drag-preview .hexagon-tier-champ {
    clip-path: unset;
    border-radius: 5px;
}

.hexagon-tier-champ>span {
    width: 85%;
    height: 85%;
    object-fit: cover;
    background-size: cover;
    margin: auto;
    display: flex;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    border-radius: 5px;
}

.builder-champions .hexagon-title {
    font-size: 9px;
    margin-top: 5px;
    pointer-events: none;
}

.builder-items .item-child>span {
    pointer-events: none;
    display: none;
}

.tier-list:has(.hexagon-tier-champ span.active) {
    filter: drop-shadow(0 0 10px var(--border-color-cost)) drop-shadow(0 0 20px var(--border-color-cost));
    animation: pulse 2s ease-in-out infinite;
}

.hexagon-tier-champ span.active {
    transform: scale(1.1);
}

.builder-items .builder-list {
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
}

.builder-items .item-child {
    flex-direction: column;
    width: 40px;
    gap: 10px;
    text-align: center;
    font-size: 9px;
    cursor: pointer;
}

.builder-items .item-child.item-core>img {
    border: 1px solid var(--tier-color);
}

.builder-chessboard .hexagon-champ {
    width: 100%;
    height: 100%;
}

/* Dùng attribute selector để so sánh body và data-category của button */
body[btn-filter="category-1-active"] button[data-category="1"],
body[btn-filter="category-2-active"] button[data-category="2"],
body[btn-filter="category-3-active"] button[data-category="3"],
body[btn-filter="category-4-active"] button[data-category="4"],
body[btn-filter="category-5-active"] button[data-category="5"],
body[btn-filter="category-6-active"] button[data-category="6"],
body[btn-filter="category-7-active"] button[data-category="7"],
body[btn-filter="category-other-active"] button[data-category="other"],
body[btn-filter="category-0-active"] button[data-category="0"],

body[augs-btn-filter="category-0-active"] button[data-augs-category="0"],
body[augs-btn-filter="category-1-active"] button[data-augs-category="1"],
body[augs-btn-filter="category-2-active"] button[data-augs-category="2"],
body[augs-btn-filter="category-3-active"] button[data-augs-category="3"] {
    color: var(--btn-builder-bg);
    border-bottom: 2px solid var(--btn-builder-bg);
}

.builder-champions .builder-filter button.active {
    color: var(--btn-builder-bg);
    border-bottom: 2px solid var(--btn-builder-bg);
}

.builder-list-traits {
    display: flex;
    align-items: center;
    width: 100%;
    grid-column: 1 / -1;
    gap: 10px;
    margin-bottom: 10px;
}

.list-traits-champions {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    justify-items: center;
    gap: 5px;
}

.list-traits-title {
    display: flex;
    flex-direction: column;
    font-size: 9px;
    width: 45px;
}

.list-traits-title span {
    text-align: center;
}

.hexagon.highlight {
    box-shadow: 0 0 8px 2px rgba(255, 255, 0, 0.8);
    /* Hiệu ứng sáng */
    border: 2px solid yellow;
    /* Tùy chỉnh */
}

/*  */
.builder-traits {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.trait-item {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.trait-item.style-0 {
    border-color: #808080;
    /* Xám */
}

.trait-item.style-1 {
    border-color: #cd7f32;
    /* Đồng */
}

.trait-item.style-3 {
    border-color: #c0c0c0;
    /* Bạc */
}

.trait-item.style-4 {
    border-color: #ffd700;
    /* Vàng */
}

.trait-item.style-5 {
    border-color: #b9f2ff;
    /* Kim cương */
}

.trait-icon {
    position: relative;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    pointer-events: none;
}

.trait-content {
    pointer-events: none;
    font: 700 12px 'Nunito', sans-serif;

}

.trait-icon img:first-child {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    margin: auto;
    z-index: 1;
}

.trait-icon img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    margin: auto;
}

.trait-title {
    display: flex;
    align-items: center;
    gap: 4px;
}


.trait-title span:nth-child(2) {
    color: #ccc;
    font-size: 12px;
}

.trait-number {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
}

.trait-number span {
    font-size: 12px;
}

.trait-number span:nth-child(odd) {
    opacity: 0.5;
    /* Mờ cho minUnits mặc định */
}

.trait-number span:nth-child(even) {
    color: #666;
    /* Dấu I */
}



/* builder-list-augments */
.builder-augments {
    position: relative;
    cursor: pointer;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 90px);
    gap: 15px;
    text-align: center;
}

span.builder-title {
    font: 900 18px 'Nunito', sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0;
}

.builder-augments .augments-child {
    display: flex;
    flex-direction: column;
    width: 50px;
    gap: 10px;
    text-align: center;
    font-size: 9px;
    margin: 0 auto;
}

.selected-augs .augments-child {
    display: flex !important;
}


.builder-augments .builder-icon-augs img {
    width: 80px;
    height: 80px;
    position: absolute;
    filter: hue-rotate(60deg);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.builder-augments .builder-icon-augs img:hover {
    transform: scale(105%, 105%);
}

.builder-list-augments {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1d1d1d;
    flex-direction: column;
    gap: 15px;
    z-index: 5;
    display: none;
}

.builder-list-augments.active {
    display: flex;
}

.builder-render-augs .tier- {
    display: none !important;
}

.augments-child.active {
    border: 2px solid var(--tier-color);
    opacity: 0.8;
    border-radius: 5px;
    padding: 5px;
}

.builder-list-augments .builder-head {
    margin: 15px;
}

.selected-augs,
.builder-render-augs {
    display: grid;
    background-color: #1d1d1d;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    padding: 15px;
}

.selected-augs-wrapper {
    display: flex;
    gap: 15px;
    margin: 0 22px;
}

.selected-augs {
    flex: 1;
    background-color: #0b141e;
    border-radius: 30px;
    min-height: 40px;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
    padding: 10px;
    gap: 0;
    overflow: hidden;
}

.selected-augs .augments-child {
    filter: brightness(90%) contrast(110%);
}

.selected-action {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 15px;
}

button.selected-augs-clear,
button.selected-augs-ok {
    padding: 5px 15px;
    height: 30px;
    min-width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--btn-builder-bg);
    border-radius: 999px;
    font: 700 14px 'Nunito', sans-serif;
}

.builder-list-augments .augments-child {
    display: flex;
    flex-direction: column;
    width: 60px;
    gap: 10px;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
}

.builder-list-augments span {
    font-size: 10px;
}

span.selected-augs-count {
    font: 700 14px 'Nunito', sans-serif;
}

span.count-augments {
    color: var(--btn-builder-bg);
    font-size: 14px;
    margin-right: 3px;
}

.builder-list-augments .builder-head {
    margin: 15px 22px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.builder-list-augments .builder-search {
    width: 50%;
    height: 40px;
    background-color: #0b141e;
}

.builder-list-augments .builder-filter button {
    padding: 5px 15px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.builder-list-augments .augs-tier-silver {
    display: var(--btn-filter-augs-category-1, none);
}

.builder-list-augments .augs-tier-gold {
    display: var(--btn-filter-augs-category-2, none);
}

.builder-list-augments .augs-tier-prism {
    display: var(--btn-filter-augs-category-3, none);
}

[augs-btn-filter="category-0-active"] {
    --btn-filter-augs-category-1: flex;
    --btn-filter-augs-category-2: flex;
    --btn-filter-augs-category-3: flex;
}

[augs-btn-filter="category-1-active"] {
    --btn-filter-augs-category-1: flex;
}

[augs-btn-filter="category-2-active"] {
    --btn-filter-augs-category-2: flex;
}

[augs-btn-filter="category-3-active"] {
    --btn-filter-augs-category-3: flex;
}

/* Thanh cuộn */
.builder-traits,
.builder-list {
    overflow-y: auto;
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: #19271d transparent;
    /* Firefox */
}

/* Chrome, Edge, Safari */
.builder-traits::-webkit-scrollbar,
.builder-list::-webkit-scrollbar {
    width: 6px;
}

.builder-traits::-webkit-scrollbar-track,
.builder-list::-webkit-scrollbar-track {
    background: transparent;
}

.builder-traits::-webkit-scrollbar-thumb,
.builder-list::-webkit-scrollbar-thumb {
    background: #19271d;
    border-radius: 3px;
}

.builder-traits::-webkit-scrollbar-thumb:hover,
.builder-list::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* Builder section */
.builder-options {
    display: flex;
    gap: 20px;
    display: none;
    position: absolute;
    top: 22px;
    right: 20px;
}

.builder-options button {
    background: transparent;
    color: #fff;
    font: 700 12px 'Nunito', sans-serif;
    text-transform: uppercase;
    transition: transform 0.3s ease;
}

.builder-options button.active {
    color: var(--btn-builder-bg);
    border-bottom: 2px solid var(--btn-builder-bg);
}

/* builder-extension */
.dragging {
    opacity: 0.5;
    /* transform: scale(1.1); */
    transition: all 0.2s ease;
}

.save-comp-wrapper {
    position: relative;
    user-select: none;
    display: flex;
    justify-content: flex-end;
}

.save-comp-menu .save-comp-option {
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: left;
    display: flex;
    gap: 15px;
}

.save-comp-menu .save-comp-option:hover {
    background: var(--button-color);
    color: black;
}

.builder-extension button:hover {
    background-color: #45a049;
}

button#name-chessboard {
    justify-content: flex-end;
}

button#name-chessboard .fa-eye {
    display: none;
}

button#name-chessboard .fa-eye-slash {
    display: inline-block;
}

button#name-chessboard.active .fa-eye {
    display: inline-block;
}

button#name-chessboard.active .fa-eye-slash {
    display: none;
}

#name-chessboard .hide-text {
    display: none;
}

#name-chessboard.active .show-text {
    display: none;
}

#name-chessboard.active .hide-text {
    display: inline;
}

.save-comp-menu {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 180px;
    background: #0f1510;
    border: var(--border-tier-list);
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 100;
}

.save-comp-menu.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* New css */
.builder-champions .builder-list,
.builder-items .builder-list {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
}

.builder-chessboard.dragging,
.builder-champions.dragging,
.builder-items.dragging,
.hexagon.dragging {
    touch-action: none;
}

.hexagon-icon {
    touch-action: manipulation;
}

.item-span {
    touch-action: manipulation;
}


/* .hexagon {
    background: transparent;
    border: 2px solid transparent;
    transition: background-color 0.2s, border 0.2s;
} */
.drag-preview {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.3));
    transition: transform 0.1s ease;
}

.drag-preview.item-child {
    width: 24px !important;
    height: 24px !important;
}

.drag-preview.tier-list {
    width: 50px;
    height: 50px;
}

.drag-preview .hexagon-name,
.drag-preview .hexagon-title,
.drag-preview.item-child>span {
    display: none;
}

/* Tooltip */
.builder-augments .augments-child>*,
.builder-list-augments .augments-child>* {
    pointer-events: none;
}

/* Media min-width 768px */
@media (min-width: 768px) {
    .builder-chessboard .position-comp {
        margin-left: 0;
    }
}

/* Media max-width 768px */
@media (max-width: 768px) {
    .builder-augments .augments-child>*,
    .builder-list-augments .augments-child>* {
        pointer-events: auto;
    }
    .builder-container {
        margin: 0;
    }

    .builder-augments .builder-icon-augs img {
        width: 55px;
        height: 55px;
    }

    .builder-list-augments .builder-head {
        flex-direction: column;
        gap: 15px;
    }

    .builder-list-augments .builder-search {
        width: 100%;
    }

    .selected-augs-wrapper {
        flex-direction: column;
    }

    .selected-augs {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .selected-action {
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    .builder-section {
        flex-direction: column;
        height: auto;
        position: relative;
    }

    .builder-traits,
    .builder-augments {
        width: 100%;
    }

    .builder-chessboard {
        width: 100%;
        order: 1;
        padding: 15px;
    }

    /*  */
    .builder-traits {
        flex-direction: row;
        min-height: 45px;
    }
    .builder-traits span.builder-title {
        top: 50%;
        left: 22px;
        transform: translate(0, -50%);
    }

    .trait-item {
        justify-content: center;
    }

    .trait-name,
    .trait-number,
    .trait-title span:nth-child(2) {
        display: none;
    }

    .trait-icon {
        width: 30px;
        height: 30px;
    }

    .builder-augments {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        min-height: 74px;
    }

    .builder-augments span.builder-title {
        left: 22px;
        top: 50%;
        transform: translate(0, -50%);
        width: auto;
    }

    .builder-augments .augments-child {
        width: 40px;
    }

    .builder-augments .augments-child span {
        display: none;
    }

    .builder-options {
        display: flex;
    }

    .builder-items {
        display: none;
    }

    .builder-head {
        flex-direction: column;
    }

    .builder-champions .tier-list,
    .builder-items .item-child {
        width: 30px;
    }
    
    .builder-champions .hexagon-title,
    .builder-items .item-child>span {
        display: none;
    }
    .list-traits-champions,
    .builder-champions .builder-list,
    .builder-items .builder-list {
        grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    }
    .list-traits-title>span>img {
        width: 24px;
        height: auto;
    }
    .list-traits-title span {
        font-size: 8px;
    }

}

/* 📱 Mobile nhỏ */
@media (max-width: 575px) {
    .builder-chessboard {
        padding: 8px;
    }

    .builder-augments {
        gap: 8px;
        padding: 8px;
    }

    .builder-extension button {
        font-size: 9px;
    }

    .builder-list {
        margin-right: 15px;
    }

    .drag-preview .star-champ,
    .builder-chessboard .star-champ {
        gap: 0;
    }
    .builder-augments {min-height: 45px;}
    .builder-augments .builder-icon-augs img {
        width: 30px;
        height: 30px;
    }
    span.builder-title {font-size: 14px;}
}