.icon-stat {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}

.items-item {
    padding: 15px;
    gap: 15px;
    font-size: 14px;
    background: #1e1e1e;
    border-radius: 10px;
    width: 360px;
}

.item-core .item-icon>img {
    border: 1px solid var(--tier-color);
}

.item-icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
}

.item-icon>img {
    width: 44px;
    height: auto;
    border-radius: 5px;
}

.item-icon>span {
    width: 40px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tier-color);
}

.item-composition {
    display: flex;
    flex-direction: column;
    gap: 3px;
    background: var(--alpha-bg);
    padding: 5px;

}

.item-composition>span {
    display: flex;
    color: #fff;
}

.item-composition img {
    width: 24px;
    height: auto;
    border-radius: 3px;
}

.item-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-content .item-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-title>span {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.item-title>span>span {
    display: flex;
    align-items: center;
}

span.tftitemrules,
span.rules {
    opacity: .5;
}

.tooltip .items-item {
    max-width: 320px;
    width: 100%;
    font-size: 13px;
    gap: 10px;
    border: 1px solid var(--tier-color, #444);
}

.tooltip .item-icon {
    gap: 5px;
}